name: Build LaTeX document

on: [push, pull_request]

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@main
        with:
          submodules: 'true'

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: REPLACE_ME.tex
      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: REPLACE_ME.pdf
